.form {
  padding-top: 2em;
}
.nav-link {
  margin: auto, 1em, auto, 1em;
}
.nav-bar {
  background: burlywood;
  margin: auto, 10%, auto, 10% !important;
}

.img-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  margin: 2em;
}
