.form {
  padding-top: 2em;
}
.nav-link {
  margin: auto, 1em, auto, 1em;
}
.nav-bar {
  background: burlywood;
  margin: auto, 10%, auto, 10% !important;
}
.container {
  width: 80%;
}

.img-wrap {
  margin-top: 1em;
  img {
    border-radius: 5px;
    width: 100%;
    height: 30vh;
    margin: 1em 0 1em 0;
  }
}
